.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.js-wp-3 {
    -webkit-animation-delay: 3.2s;
    animation-delay: 3.2s;
}


.opacity--null {
	opacity: 0;
}

.opacity--one {
	opacity: 1;
}
