.container {
	max-width: 1100px;	
	margin: 0 auto;
	padding: 20px 20px;
	position: relative;
	overflow: hidden;
	border: none;
	
	@mixin atMedium {
		padding: 45px 20px;	
	}
	
	&--low {
		padding: 20px 20px;
	}
}

