.footer {
	background-color: #d7dedc;
	
	&__content {
		text-align: center;	
		font-size: 15px;
	}
	
	&__inline {
		display: inline-block;
		vertical-align: middle;		
	}
	
	&__copy-right {
		margin-right: 40px;
	}
	
	&__copy-right:after {
		content: "";
		border: 1px solid #555555;
		margin-left: 40px;
		
		
		
	}
	
	&__fb,
	&__tw{
		margin-right: 20px;
	}
	
}


