.header {
	
	&__logo {
		float: left;
	}
	
	&__nav {
		float: right;
		
		a{
			color: white;
			text-decoration: none;
			margin-right: 40px;
			text-transform: uppercase;
			padding-bottom: 10px;
			
		}
		
		a:hover {				
			border-bottom: 4px solid white;
		}
	}
	
	
	li {
		display: inline-block;
		color: white;
	}	
	
}