.header {
	padding-top: 45px;
	
	&__logo {
		float: left;
	}
	
	&__nav {
		float: right;
		
		a {
			color: white;
			text-decoration: none;
			padding-right: 40px;
			text-transform: uppercase;
		}
	}
	
	li {
		display: inline-block;
		color: white;
	}
	
	
}