$mainBlue: #484848;

.hero {
	color: $mainBlue;
	float: left;
	margin: 10px;
	display: grid;
    transition: all .10s;
	background: linear-gradient(to bottom, white, black);
	columns: 200px 2;
	
	a {
		text-decoration: none;
	}
}


