.hero {
	background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(218,51,46,0.6)),to(rgba(218,51,46,0.6))), url('../../img/hero-bg.png');
	background-image: linear-gradient(rgba(218,51,46,0.6),rgba(218,51,46,0.6)), url('../../img/hero-bg.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	
	
	
	&__main-container {
		display: inline-block;
		margin-top: 85px;
		position: relative;
		margin-bottom: 25px;
		
	}
	
	&__text-container {
		width: 50%;
		float: left;
	}
	
	&__img {
		float: right;
		position: absolute;
		right: -115px;
	}
	
	&__iphone {
		width: 85%;
		position: relative;
		margin-bottom: -240px;

	}
	
	
	&__title {
		font-size: 52px;
		color: white;
		text-transform: uppercase;
		
	}
	
	&__paragraph {		
		font-size: 36px;
		color: white;
		margin-bottom: 65px;
	
	}

}






